{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "defaults, ie >= 11",
                "useBuiltIns": "entry",
                "corejs": 3
            }
        ]
    ]
}